---
import { SITE, SOCIAL } from "~config";

const SOCIAL_LINKS = [
	{
		href: SOCIAL.ZENN.URL,
		alt: `Zenn @${SOCIAL.ZENN.ID}`,
		icon: "icon-[self--logo-zenn]",
	},
	{
		href: SOCIAL.QIITA.URL,
		alt: `Qiita @${SOCIAL.QIITA.ID}`,
		icon: "icon-[self--logo-qiita]",
	},
	{
		href: SOCIAL.TWITTER.URL,
		alt: `X @${SOCIAL.TWITTER.ID}`,
		icon: "icon-[carbon--logo-x]",
	},
	{
		href: SOCIAL.GITHUB.URL,
		alt: `GitHub @${SOCIAL.GITHUB.ID}`,
		icon: "icon-[carbon--logo-github]",
	},
] satisfies Array<{ href: string; alt: string; icon: string }>;
---

<footer class="py-6">
  <div class="mx-auto max-w-6xl px-6 flex justify-center md:justify-between items-center">
    <aside class="hidden md:inline-flex items-center text-sm">
			<span class="text-zinc-500">おすすめ：</span>
      <a class="underline hover:no-underline font-bold inline-flex items-center gap-1 [&:not(:hover)]:text-zinc-500" href={SITE.NOW_WATCHING.URL} target="_blank">
        {SITE.NOW_WATCHING.TITLE}
        <span class="icon-[carbon--launch] size-4" />
      </a>
    </aside>
    <nav class="grid place-items-center grid-flow-col gap-4">
      {SOCIAL_LINKS.map(({ href, alt, icon }) => (
        <a class="[&:not(:hover)]:text-zinc-500" href={href} data-label={alt} title={alt} target="_blank">
          <span class:list={["size-6", icon]} />
        </a>
      ))}
    </nav>
  </div>
</footer>