---
import logo from "~assets/logo.svg";
import { SITE } from "~config";

const NAV_ITEMS = [
	{
		href: "/about",
		label: "About",
	},
	{
		href: "/blog",
		label: "Blog",
	},
	{
		href: "/works",
		label: "Works",
	},
] satisfies Array<{ href: string; label: string }>;
---

<header class="sticky top-0 left-0 w-full bg-white dark:bg-zinc-900 bg-opacity-50 dark:bg-opacity-50 backdrop-blur-sm">
  <div class="mx-auto flex h-16 max-w-6xl items-center justify-between px-4">
    <a href="/" class="p-2 rounded">
      <img src={logo.src} width={logo.width} height={logo.height} alt={SITE.TITLE} />
    </a>
    <nav class="grid grid-flow-col">
      {NAV_ITEMS.map(({ href, label }) => (
        <a class:list={["px-5 py-3 rounded-xl hover:bg-zinc-200 dark:hover:bg-zinc-800", Astro.url.pathname.startsWith(href) && 'font-bold bg-zinc-200 dark:bg-zinc-800']} href={href}>
          {label}
        </a>
      ))}
      <a class="grid place-items-center px-4 py-3 rounded-xl hover:bg-zinc-200 dark:hover:bg-zinc-800" href="/rss.xml" target="_blank">
        <span class="icon-[carbon--rss] size-5" />
      </a>
    </nav>
  </div>
</header>