---
import logo from "~assets/logo.svg";
import { SITE } from "~config";
import FilledImage from "./FilledImage.astro";

const NAV_ITEMS = [
	// {
	// 	href: "/about",
	// 	label: "About",
	// },
	{
		href: "/blog",
		label: "Blog",
	},
	{
		href: "/works",
		label: "Works",
	},
] satisfies Array<{ href: string; label: string }>;
---

<script>
  import { controlDialog } from '~utils/dialog'

  controlDialog()
</script>

<header class="sticky top-0 left-0 w-full bg-white dark:bg-zinc-900 bg-opacity-50 dark:bg-opacity-50 backdrop-blur-sm">
  <div class="mx-auto flex h-16 max-w-6xl items-center justify-between px-4">
    <a href="/" class="p-2 rounded">
      <FilledImage class="block bg-zinc-900 dark:bg-white" image={logo} alt={SITE.TITLE} />
    </a>
    <nav class="grid-flow-col hidden md:grid gap-1">
      {NAV_ITEMS.map(({ href, label }) => (
        <a class:list={["px-5 py-3 grid place-items-center rounded-xl hover:bg-zinc-200 dark:hover:bg-zinc-800", Astro.url.pathname.startsWith(href) && 'font-bold bg-zinc-200 dark:bg-zinc-800']} href={href}>
          {label}
        </a>
      ))}
      <a class="grid place-items-center px-4 py-3 rounded-xl hover:bg-zinc-200 dark:hover:bg-zinc-800" href="/rss.xml" aria-label="RSS Feed" target="_blank">
        <span class="icon-[carbon--rss] size-5" />
      </a>
    </nav>
    <button data-dialog="header__dialog" class="md:hidden size-12 grid place-items-center hover:bg-zinc-200 dark:hover:bg-zinc-800 rounded-xl" aria-label="メニューを開く">
      <span class="icon-[carbon--menu] size-8" />
    </button>
  </div>
</header>

<dialog id="header__dialog" class="fixed inset-0 w-full h-full z-10 bg-white dark:bg-zinc-900 text-inherit">
  <div class="max-w-6xl mx-auto px-4">
    <header class="mx-auto flex h-16 max-w-6xl items-center justify-between">
      <a href="/" class="p-2 rounded">
        <FilledImage class="block bg-zinc-900 dark:bg-white" image={logo} alt={SITE.TITLE} />
      </a>
      <button data-dialog="header__dialog" class="size-12 grid place-items-center hover:bg-zinc-200 dark:hover:bg-zinc-800 rounded-xl" aria-label="メニューを開く">
        <span class="icon-[carbon--menu] size-8" />
      </button>
    </header>
    <nav class="grid gap-2 py-5">
      {NAV_ITEMS.map(({ href, label }) => (
      <a class:list={["px-5 block py-4 rounded-xl hover:bg-zinc-200 dark:hover:bg-zinc-800", Astro.url.pathname.startsWith(href) && 'font-bold bg-zinc-200 dark:bg-zinc-800']} href={href}>
        {label}
      </a>
    ))}
    </nav>
  </div>
</dialog>