---
import avatar from "~assets/avatar.webp";
import { SITE } from "~config";
---

<div class="grid grid-cols-[auto,1fr] gap-8 rounded-xl">
  <img src={avatar.src} width={avatar.width} height={avatar.height} alt={SITE.NICK_NAME} class="rounded-full size-24 border-4 dark:border-zinc-800 border-zinc-200" />
  <div class="flex flex-col justify-center gap-2">
    <h1 class="text-2xl font-bold">{SITE.NICK_NAME}</h1>
    <p class="text-zinc-500">{SITE.DESCRIPTION}</p>
  </div>
</div>